.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  margin-bottom: 1.5rem;

  h3 {
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: var(--white);
  }

  button {
    border: none;
    background-color: transparent;
  }
}